<html>
<body>
{{#name}}Messages by:{{.}}!
<form action="/add" method="post">
    <input type="text" placeholder="Key message here" name="messageText">
    <button type="submit">SUBMIT(never!!)</button>
</form>
<br>
<ul>
    {{#messages}}
    <li>{{messages}}
        <form action="/delete" method="post">
            <input type="hidden" value="{{messageId}}" name="messageId">
            <button type="submit">Make it disappear</button>
        </form>
        <form action="/edit" method="post">
            <input type="hidden" value="{{messageId}}" name="messageId">
            <input type="text" placeholder="Enter Replacement Text" name="messageText">
            <button type="submit">Update!</button>
        </form>
    </li>
    {{/messages}}
</ul>
<br>
{{/name}}

{{^name}}
<form action="/login" method="post">
    <input type="text" placeholder="Enter your name" name="userName">
    <button type="submit">Login</button>
</form>
{{/name}}
</body>
</html>